/sistema/projeto-pdv/nbproject/private/
/sistema/projeto-pdv/build/
/sistema/primeiro/nbproject/private/
/sistema/primeiro/build/
/sistema/Calculadora/nbproject/private/
/sistema/Calculadora/build/
/sistema/Calculadora/dist/